<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
	<h2>Rocio Rubio Lado</h2>
	<h2>Listado de rutas</h2>
		<table class="table table-striped table-condensed">
                  <thead>
                  <tr>
                      <th>Ruta</th>
                      <th>Definición</th>                                       
                  </tr>
              </thead>   
              <tbody>
              	<tr>
              		<td>/add</td>
              		<td>Añadir clientes</td>
              	</tr>
                <tr>
                    <td>/list</td>
                    <td>Listar todos los clientes</td>
                                                           
                </tr>
                <tr>
                    <td>/search/cliente/{nombre}</td>
                    <td>Mostrar cliente filtrado por un nombre</td>
                                                      
                </tr>
              
              </tbody>
            </table>
	</div>
</div>